{% extends "hat.html" %}

{% block content %}
<h1 class="zag">Проверка сайтов автобизнеса на безопасность</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p class="vvod_site">
        {{ form.site(class="form-control") }}<br>
        {%if color == 1 %} 
            <a class = 'rating1'>{{rating1}}</a><a class = 'rating2'>{{rating2}}</a><a class = 'rating1'>: </a><a class = 'rating_top'>{{rating3}}</a><br>
            <br>
            <a class="rating_top">  Этот сайт безопасен  </a><br>
        {%elif color == 2 %}
            <a class = 'rating1'>{{rating1}}</a><a class = 'rating2'>{{rating2}}</a><a class = 'rating1'>: </a><a class = 'rating_middle'>{{rating3}}</a><br>
            <br>
            <a class = 'rating_middle'>  Этот сайт не надёжен  </a><br>
        {% elif color == 3 %}
            <a class = 'rating1'>{{rating1}}</a><a class = 'rating2'>{{rating2}}</a><a class = 'rating1'>: </a><a class = 'rating_low'>{{rating3}}</a><br>
            <br>
            <a class = 'rating_low'>  Этот сайт опасен  </a><br>
        {%endif%}
        {% for error in form.site.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <br>
    {%if message %} 
    <p class="alert alert-danger" role="alert">
       {{message}}
    </p>
    {%endif%}
    <br>
    <p>{{ form.submit(type="submit", class="btn-check") }}</p>
</form>
{% endblock %}